.grecaptcha-badge {
	display: none !important
}

.awe-section-1 {
	padding: 30px 0
}

.fdesc {
	margin: 15px 0 0
}

.register-email {
	margin: 15px 0 0;
	max-width: 250px
}

.fc1 {
	border-right: 1px solid #e3e8ee;
	padding-right: 50px;
	margin-right: 30px
}

.copy-right p {
	margin: 10px 0 0
}

.footer-bottom {
	padding: 25px 0;
	font-size: 13px
}

.flink {
	margin: 10px 0 0;
	text-align: center
}

.flink ul {
	display: inline-block
}

.flink ul li {
	float: left
}

.flink ul li a {
	display: block;
	padding: 0px 15px;
	border-right: 1px solid #e5e5e5;
	color: #666
}

.flink ul li:last-child a {
	border: none
}

.section_banner img,
.section_banner2 img {
	margin: 10px 0 0
}

.section_product {
	text-align: center;
	position: relative
}

.section_product .top-left-leaf {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transform: translateY(-10%)
}

.section_product .top-right-leaf {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	transform: translateY(-35%)
}

.section_product .bottom-left-leaf {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	transform: translateY(-10%)
}

.section_product .bottom-right-leaf {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	transform: translateY(-35%)
}

.section_product .e-tabs {
	margin-top: 15px
}

.section_product .e-tabs ul.tabs {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 30px
}

.section_product .e-tabs ul.tabs li {
	font-size: 18px;
	margin: 0 20px;
	padding: 0 0 10px;
	position: relative
}

.section_product .e-tabs ul.tabs li:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	background: transparent;
	width: 70px
}

.section_product .e-tabs ul.tabs li.current {
	color: #d32524;
	font-weight: 500
}

.section_product .e-tabs ul.tabs li.current:before {
	background: #d32524
}

.section_product .e-tabs .tab-content {
	padding: 0 15px
}

.section_product .e-tabs .tab-content:hover .owl-sec3 .owl-nav .owl-prev {
	left: 0
}

.section_product .e-tabs .tab-content:hover .owl-sec3 .owl-nav .owl-next {
	right: 0
}

.section_product .e-tabs .tab-content .p-item {
	border: 1px solid transparent;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden
}

.section_product .e-tabs .tab-content .p-item:hover {
	border: 1px solid #64a211
}

.section_product .e-tabs .tab-content .p-item:hover .wrap-product .product-action .area-btn-addcart button {
	opacity: 1
}

.section_product .e-tabs .tab-content .p-item:hover .wrap-product .image-product .area-btn-quickview {
	display: block;
	background: rgba(255, 255, 255, 0.8);
	padding: 5px 0 0
}

.section_product .e-tabs .tab-content .p-item .wrap-product {
	position: relative
}

.section_product .e-tabs .tab-content .p-item .wrap-product .dis_per {
	position: absolute;
	color: #fff;
	font-size: 11px;
	padding: 5px 10px;
	border-radius: 20px;
	right: 0;
	top: 0;
	background: #d32524
}

.section_product .e-tabs .tab-content .p-item .wrap-product .image-product {
	position: relative
}

.section_product .e-tabs .tab-content .p-item .wrap-product .image-product .area-btn-quickview {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	display: none
}

.section_product .e-tabs .tab-content .p-item .wrap-product .image-product .area-btn-quickview .quick-view {
	height: 30px;
	width: 30px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 100%;
	line-height: 30px;
	color: #aaa;
	background: #fff
}

.section_product .e-tabs .tab-content .p-item .wrap-product .product-info .product-name {
	color: #919191;
	font-size: 14px;
	font-weight: 400;
	margin: 5px 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.section_product .e-tabs .tab-content .p-item .wrap-product .product-info .product-price {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 5px;
	color: #5ca201
}

.section_product .e-tabs .tab-content .p-item .wrap-product .product-info .product-price .first-price {
	text-decoration: line-through;
	color: #919191
}

.section_product .e-tabs .tab-content .p-item .wrap-product .product-info .p-content {
	display: none
}

.section_product .e-tabs .tab-content .p-item .wrap-product .product-action .area-btn-addcart {
	width: initial;
	float: none
}

.section_product .e-tabs .tab-content .p-item .wrap-product .product-action .area-btn-addcart button {
	width: 80%;
	border-radius: 20px;
	color: #fff;
	background: #64a211;
	text-transform: uppercase;
	height: initial;
	line-height: 34px;
	font-size: 12px;
	opacity: 0
}

.section_product .e-tabs .tab-content .big .p-item .wrap-product .product-info .product-name {
	font-size: 16px
}

.section_product .e-tabs .tab-content .big .p-item .wrap-product .product-info .p-content {
	display: block;
	color: #919191;
	margin: 10px 10px 15px
}

.section_product .e-tabs .tab-content .big .p-item .wrap-product .product-action .area-btn-addcart button {
	line-height: 40px;
	font-size: 16px;
	opacity: 1
}

.section_product .e-tabs .tab-content .owl-sec3 .owl-nav>* {
	background: #5ca201;
	position: absolute;
	top: calc(50% - 14px);
	color: #fff;
	font-size: 20px;
	width: 40px;
	line-height: 40px;
	transition: all .5s
}

.section_product .e-tabs .tab-content .owl-sec3 .owl-nav .owl-prev {
	left: -40px
}

.section_product .e-tabs .tab-content .owl-sec3 .owl-nav .owl-next {
	right: -40px
}

.section_product.sec2 {
	margin: 30px 0
}

.section_product.sec2 .e-tabs .wrap-title {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 30px
}

.section_product.sec2 .e-tabs .wrap-title .sec2_title {
	color: #4e4e4e;
	float: left;
	position: relative;
	padding: 0 0 10px;
	margin: 0
}

.section_product.sec2 .e-tabs .wrap-title .sec2_title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 80px;
	background: #d32524
}

.section_product.sec2 .e-tabs .wrap-title ul.tabs {
	float: right;
	border: none;
	margin: 7px 0 0
}

.section_product.sec2 .e-tabs .wrap-title ul.tabs li {
	font-size: 16px;
	margin: 0 10px
}

.section_product.sec2 .e-tabs .wrap-title ul.tabs li:before {
	content: none
}

.section_product.sec2 .e-tabs .wrap-title ul.tabs li.current {
	font-weight: 400
}

.section_product.sec2 .cd-block {
	border: 1px solid #5ca201;
	border-radius: 20px;
	padding: 0 0 20px
}

.section_product.sec2 .cd-block .e-tabs .tab-content {
	padding: 0 20px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .cd_title {
	position: relative;
	text-align: left;
	border-bottom: 1px solid #ebebeb;
	padding: 0 0 10px;
	margin: 9px 0
}

.section_product.sec2 .cd-block .e-tabs .tab-content .cd_title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 64px;
	background: #d32524
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item {
	padding: 1px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item {
	border: none
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .product-info .product-name {
	font-size: 16px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .product-info .product-price {
	font-size: 18px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .product-action .area-btn-addcart button {
	opacity: 1;
	line-height: 46px;
	font-size: 15px;
	border-radius: 25px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .time_sale {
	margin: 25px 0;
	border-top: 1px solid #ebebeb;
	padding-top: 20px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .time_sale img {
	width: 100px !important;
	margin: 0 auto 20px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .time_sale .block-timer {
	display: inline-block;
	background: #eee;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin: 0 3px;
	padding-top: 6px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .time_sale .block-timer p {
	margin: 0;
	font-weight: 500;
	color: #4e4e4e
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-item .p-item .wrap-product .time_sale .block-timer p c {
	color: #919191;
	font-weight: 400;
	font-size: 11px;
	display: block
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-nav {
	position: absolute;
	top: -51px;
	right: 13px;
	display: flex;
	color: #919191;
	font-size: 20px
}

.section_product.sec2 .cd-block .e-tabs .tab-content .owl-nav .owl-prev {
	margin-right: 10px
}

.section_product.sec3 {
	margin: 30px 0
}

.section_product.sec3 .e-tabs .wrap-title {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 30px
}

.section_product.sec3 .e-tabs .wrap-title .sec3_title {
	color: #4e4e4e;
	float: left;
	position: relative;
	padding: 0 0 10px;
	margin: 0
}

.section_product.sec3 .e-tabs .wrap-title .sec3_title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	background: #d32524;
	width: 80px
}

.section_product.sec3 .e-tabs .wrap-title ul.tabs {
	float: right;
	border: none;
	margin: 7px 0 0
}

.section_product.sec3 .e-tabs .wrap-title ul.tabs li {
	font-size: 16px;
	margin: 0 10px
}

.section_product.sec3 .e-tabs .wrap-title ul.tabs li:before {
	content: none
}

.section_product.sec3 .e-tabs .wrap-title ul.tabs li.current {
	font-weight: 400
}

@media (min-width: 1600px) {
	.section_product .top-left-leaf,
	.section_product .top-right-leaf,
	.section_product .bottom-left-leaf,
	.section_product .bottom-right-leaf {
		max-width: 150px
	}
}

@media (max-width: 1599px) {
	.section_product .top-left-leaf,
	.section_product .top-right-leaf,
	.section_product .bottom-left-leaf,
	.section_product .bottom-right-leaf {
		max-width: 120px
	}
}

@media (max-width: 1399px) {
	.section_product .top-left-leaf,
	.section_product .top-right-leaf,
	.section_product .bottom-left-leaf,
	.section_product .bottom-right-leaf {
		max-width: 55px
	}
}

@media (max-width: 1199px) {
	.section_product .top-left-leaf,
	.section_product .top-right-leaf,
	.section_product .bottom-left-leaf,
	.section_product .bottom-right-leaf {
		max-width: 45px
	}
}

@media (max-width: 991px) {
	.section_product .top-left-leaf,
	.section_product .top-right-leaf,
	.section_product .bottom-left-leaf,
	.section_product .bottom-right-leaf {
		max-width: 30px
	}
	.section_product .e-tabs ul.tabs li {
		font-size: 16px;
		margin: 0 10px
	}
}

@media (max-width: 767px) {
	.section_product .e-tabs .tab-content {
		padding: 0
	}
	.section_product .e-tabs .tab-content .p-item .wrap-product .product-info .product-price {
		font-size: 12px
	}
	.section_product .e-tabs .tab-content .p-item .wrap-product .product-info .product-name {
		font-size: 12px
	}
	.section_product .e-tabs .tab-content .p-item .wrap-product .product-action .area-btn-addcart button {
		opacity: 1
	}
	.section_product .e-tabs ul.tabs li {
		font-size: 14px;
		margin: 0 5px 10px
	}
}

.section_feedback {
	background-image: url(//bizweb.dktcdn.net/100/364/380/themes/733489/assets/bg_feedback.png?1571624979198);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding-bottom: 30px;
	color: #fff
}

.section_feedback .phay {
	text-align: center;
	margin: 100px 0 0px
}

.section_feedback .phay img {
	width: 70px
}

.section_feedback .phay .left,
.section_feedback .phay .right {
	height: 1px;
	background: rgba(255, 255, 255, 0.3);
	display: inline-block;
	width: calc(50% - 104px);
	margin: 25px 0 0
}

.section_feedback .phay .left {
	float: left
}

.section_feedback .phay .right {
	float: right
}

.section_feedback h3 {
	color: #fff;
	text-align: center;
	margin-top: 28px
}

.section_feedback h3:before {
	background: #fff !important
}

@media (max-width: 450px) {
	.section_feedback h3:before {
		display: none
	}
}

.section_feedback #block_01 {
	padding-top: 15px
}

.section_feedback .slide_item .testimonial-content-gallery .testimonial-item {
	text-align: center
}

.section_feedback .slide_item .testimonial-content-gallery .testimonial-item .qts {
	display: block;
	text-align: center;
	margin-bottom: 25px
}

.section_feedback .slide_item .testimonial-content-gallery .testimonial-item .qts img {
	max-width: 100%;
	height: auto
}

.section_feedback .slide_item .testimonial-content-gallery .testimonial-item .content {
	font-size: 16px;
	color: #fff;
	margin: 20px 0px 50px;
	padding: 0px 30%;
	line-height: 25px
}

.section_feedback .slide_item .testimonial-content-gallery .testimonial-item .name_feed {
	font-weight: 500;
	font-size: 24px;
	margin: 15px 0 5px
}

.section_feedback .slide_item .testimonial-content-gallery .testimonial-item .star {
	font-size: 20px;
	margin-bottom: 10px
}

.section_feedback .slide_item .style_button_feed {
	width: 60%;
	margin: 0 auto;
	position: relative
}

.section_feedback .slide_item .style_button_feed .thumbpadding .testimonial-thumbs .swiper-wrapper .swiper-slide.swiper-slide-active {
	margin-top: 0px
}

.section_feedback .slide_item .style_button_feed .thumbpadding .testimonial-thumbs .swiper-wrapper .swiper-slide.swiper-slide-active img {
	width: 120px;
	height: 120px;
	opacity: 1;
	border: 2px solid #5ca201
}

.section_feedback .slide_item .testimonial-thumbs .testimonial-item {
	margin-top: 15px
}

.section_feedback .slide_item .testimonial-thumbs .testimonial-item img {
	width: 90px;
	height: 90px;
	border: solid 2px #fff;
	margin-top: 10px
}

.section_feedback .slide_image {
	width: 100%;
	text-align: center
}

.section_feedback .slide_image .image_lagre_site .testimonial-content-image .swiper-slide img {
	max-width: 100%;
	height: auto
}

.section_feedback .subcribe {
	border-top: 1px solid #9dd76f;
	padding: 25px 60px 0 60px
}

.section_feedback .subcribe .footer_top_title {
	display: inline-block
}

.section_feedback .subcribe .footer_top_title h4 {
	font-size: 16px;
	font-weight: 400;
	margin-right: 0px;
	color: #fff
}

@media (min-width: 1200px) {
	.section_feedback .subcribe .footer_top_title h4 {
		margin-right: 25px
	}
}

.section_feedback .subcribe .footer_top_form_register {
	position: relative;
	width: 40%;
	display: inline-block
}

.section_feedback .subcribe .footer_top_form_register .footer_top_form_register_input {
	border-radius: 4px
}

.section_feedback .subcribe .footer_top_form_register form .subscribe {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #d32524;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	font-weight: bold
}

@media (max-width: 1199px) {
	.section_feedback {
		background-size: cover
	}
	.section_feedback .slide_item .style_button_feed {
		width: 80%
	}
}

@media (max-width: 767px) {
	.section_feedback .slide_item .style_button_feed {
		width: 100%
	}
	.section_feedback .slide_item .style_button_feed .thumbpadding .testimonial-thumbs .swiper-wrapper .swiper-slide.swiper-slide-active img {
		width: 90px;
		height: 90px
	}
	.section_feedback .slide_item .testimonial-thumbs .testimonial-item img {
		width: 60px;
		height: 60px
	}
	.section_feedback .slide_item .testimonial-content-gallery .testimonial-item .content {
		padding: 0
	}
}

.module_service_details {
	margin-bottom: 30px
}

.module_service_details .wrap_module_service {
	overflow: hidden;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-radius: 12px
}

.module_service_details .wrap_module_service .owl-item .item_service {
	padding: 0px 10px;
	margin-left: 20px
}

.module_service_details .wrap_module_service .owl-item .item_service .wrap_item_ .content_service {
	position: relative;
	padding: 0px 0px 0px 45px;
	border-right: 1px solid #bfbfbf;
	margin: 20px 0
}

.module_service_details .wrap_module_service .owl-item .item_service .wrap_item_ .content_service p {
	font-size: 14px;
	line-height: 22px;
	margin: 0px;
	font-weight: 500;
	padding: 0px;
	color: #4e4e4e
}

.module_service_details .wrap_module_service .owl-item .item_service .wrap_item_ .content_service span {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
	color: #919191
}

.module_service_details .wrap_module_service .owl-item .item_service .wrap_item_ .content_service:before {
	content: "";
	width: 35px;
	height: 35px;
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0
}

.module_service_details .wrap_module_service .owl-item:nth-child(1) .item_service .wrap_item_ .content_service:before {
	background-image: url(//bizweb.dktcdn.net/100/364/380/themes/733489/assets/productdetail-icon1.png?1571624979198)
}

.module_service_details .wrap_module_service .owl-item:nth-child(2) .item_service .wrap_item_ .content_service:before {
	background-image: url(//bizweb.dktcdn.net/100/364/380/themes/733489/assets/productdetail-icon2.png?1571624979198)
}

.module_service_details .wrap_module_service .owl-item:nth-child(3) .item_service .wrap_item_ .content_service:before {
	background-image: url(//bizweb.dktcdn.net/100/364/380/themes/733489/assets/productdetail-icon3.png?1571624979198)
}

.module_service_details .wrap_module_service .owl-item:nth-child(4) .item_service .wrap_item_ .content_service {
	border: none
}

.module_service_details .wrap_module_service .owl-item:nth-child(4) .item_service .wrap_item_ .content_service:before {
	background-image: url(//bizweb.dktcdn.net/100/364/380/themes/733489/assets/productdetail-icon4.png?1571624979198)
}

@media (max-width: 1199px) {
	.module_service_details .wrap_module_service .owl-item .item_service .wrap_item_ .content_service {
		border-right: none
	}
}

.h-hotline {
	color: #4e4e4e;
	font-size: 14px;
	padding: 19px 0 19px 30px;
	border-left: 1px solid #ddd;
	text-align: right;
	font-weight: 500
}

.h-hotline .fa {
	font-weight: bold;
	font-size: 16px;
	margin-right: 5px
}

.h-hotline a {
	color: #4e4e4e
}

@media (min-width: 1200px) {
	.h-hotline {
		float: right
	}
}

@media (max-width: 1199px) {
	.h-hotline {
		padding: 19px 0 19px 20px
	}
}

.header-bottom {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd
}

.header_searchs {
	font-family: Tahoma, sans-serif
}

.header_searchs .search-bar {
	max-width: 100%;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
	display: table;
	border-collapse: separate
}

.header_searchs .search-bar .collection-selector {
	position: absolute;
	display: inline-block;
	min-width: 70px;
	z-index: 999;
	left: 0;
	text-align: right
}

.header_searchs .search-bar .collection-selector .search_text {
	height: 40px;
	text-align: right;
	line-height: 42px;
	cursor: pointer;
	padding: 0px 30px;
	width: 100%;
	font-size: 13px;
	border-right: 1px solid #ebebeb
}

.header_searchs .search-bar .collection-selector .search_text:before {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	position: absolute;
	top: 21px;
	right: 12px;
	color: #333;
	margin-top: -1px;
	opacity: 1
}

.header_searchs .search-bar .collection-selector .list_search {
	display: none;
	background: #fff;
	border: 1px solid #ebebeb;
	background-color: #fff;
	position: absolute;
	top: 100%;
	min-width: 200px;
	width: auto;
	z-index: 3;
	font-weight: 400 !important;
	font-family: Roboto, sans-serif;
	border-radius: 0;
	left: 2px;
	margin-top: 1px;
	margin-left: -2px;
	font-size: 13px;
	padding: 4px 0
}

.header_searchs .search-bar .collection-selector .list_search .search_item {
	text-align: left;
	display: block;
	padding-left: 24px;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	filter: none;
	height: auto;
	min-height: 24px;
	line-height: 30px;
	padding: 0 20px;
	cursor: pointer
}

.header_searchs .search-bar .collection-selector .list_search .search_item.active,
.header_searchs .search-bar .collection-selector .list_search .search_item:hover {
	background-color: #d32524;
	color: #fff !important
}

.header_searchs .search-bar .collection-selector .liner_search {
	width: 100%;
	height: 1px;
	background: #efefef;
	margin: 8px 0px
}

.header_searchs .search-bar .input-group-field {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 0;
	height: 40px;
	padding: 0 20px;
	font-size: 13px;
	max-width: 100%;
	display: block;
	border-radius: 20px 0 0 20px;
	border: 1px solid #ebebeb;
	outline: none
}

.header_searchs .search-bar .input-group-btn {
	position: relative;
	white-space: nowrap;
	width: 1%;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	margin: 0
}

.header_searchs .search-bar .input-group-btn .icon-fallback-text {
	background: #d32524;
	color: #fff;
	padding: 0 20px;
	border-radius: 0 20px 20px 0;
	width: initial
}

@media (max-width: 767px) {
	.header_searchs .search-bar .collection-selector .search_text {
		padding: 0px 20px
	}
	.header_searchs .search-bar .collection-selector .search_text:before {
		right: 9px
	}
	.header_searchs .search-bar .input-group-field {
		padding: 0px 25px 0 88px
	}
}

.btn-call-now {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 50px;
	top: initial !important;
	background: rgba(183, 1, 0, 0.7);
	-webkit-box-shadow: 0 0 5px #ddd;
	-moz-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
	z-index: 9999;
	left: 5px;
	color: #FFF;
	font-weight: 700;
	font-size: 100%;
	border-radius: 25px;
	padding: 5px 15px 5px 5px;
	-moz-animation-duration: 500ms;
	-moz-animation-name: calllink;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-webkit-animation-duration: 500ms;
	-webkit-animation-name: calllink;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-duration: 500ms;
	animation-name: calllink;
	animation-iteration-count: infinite;
	animation-direction: alternate
}

.btn-call-now .fa {
	animation: 1s ease-in-out 0s normal none infinite running phone-ani;
	color: #b70100;
	font-size: 17px;
	background: #fff;
	width: 32px;
	height: 32px;
	border-radius: 20px;
	margin-right: 5px;
	text-align: center;
	padding: 9px
}

@keyframes phone-ani {
	0% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	10% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	20% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	30% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}
	40% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}
	50% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
	100% {
		transform: rotate(0deg) scale(1) skew(1deg)
	}
}

@keyframes calllink {
	0% {
		color: #eba11e
	}
	50% {
		color: #fff
	}
	100% {
		color: #ebfa48
	}
}

@media (max-width: 767px) {
	.btn-call-now span {
		display: none
	}
	.btn-call-now .fa {
		margin: 0
	}
	.btn-call-now {
		width: initial;
		padding: 5px
	}
}

.title-head {
	font-size: 1.42857em;
	font-weight: 700;
	color: #333;
	text-decoration: none
}

.title-head a {
	color: #333
}

.title-head a:hover {
	color: #d32524
}

.subtitle-head {
	font-size: 1.28571em;
	color: #333;
	margin: 20px 0
}

.breadcrumb {
	margin: 0;
	font-size: 1em;
	padding: 10px 0;
	background-color: #fff;
	border-radius: 0
}

.breadcrumb li {
	display: inline
}

.breadcrumb li>a {
	color: #adadad
}

.breadcrumb li>a>span {
	color: #adadad
}

.breadcrumb li span {
	display: inline;
	color: #323c3f
}

.breadcrumb li span .fa {
	color: #323c3f
}

.breadcrumb li a:hover span,
.breadcrumb li.active,
.breadcrumb li strong {
	color: #d32524;
	font-weight: 400
}

.breadcrumb>li+li:before {
	display: none
}

.pagination {
	margin-bottom: 20px
}

.pagination .page-link {
	float: left;
	margin: 2.5px;
	width: 40px;
	background: #fff;
	text-align: center;
	height: 40px;
	font-size: 16px;
	line-height: 32px;
	color: #333;
	border-radius: 0;
	border: none;
	text-decoration: none;
	border: 1px solid #e1e1e1
}

.pagination .page-link:hover {
	background-color: #9e9e9e;
	border-color: #9e9e9e;
	color: #fff
}

.pagination .page-item.disabled .page-link {
	border: 0;
	display: none
}

.pagination .page-item.active .page-link {
	background-color: #9e9e9e;
	border-color: #9e9e9e;
	color: #fff;
	display: block
}

header {
	background: #fff
}

.topbar {
	background: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px
}

.topbar .container>div {
	border-bottom: 1px solid #e1e1e1
}

.topbar .list-inline li {
	margin-right: 15px
}

.header-main {
	padding: 30px 0
}

.logo {
	display: inline-block;
	font-size: 2.85714em
}

.header_search {
	padding: 24px 0 0
}

.header_search input {
	float: right
}

.header_search .input-group-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 45px
}

.header_search .input-group {
	width: 100%;
	margin-bottom: 0
}

.header_search button {
	padding: 0;
	width: 45px;
	background: transparent
}

.header_search button img {
	margin-top: 6px
}

.mini-cart {
	z-index: 10;
	text-align: center
}

.mini-cart:hover .top-cart-content {
	display: block
}

.mini-cart .dropdown-toggle {
	font-size: 12px;
	padding: 0;
	text-transform: none
}

.top-cart-contain {
	color: #333;
	padding: 0;
	right: 0;
	z-index: 1000
}

.top-cart-contain .price {
	color: #d32524;
	text-transform: uppercase
}

.top-cart-contain .mini-cart .price {
	margin-right: 5px;
	font-size: 16px;
	font-weight: 700
}

.top-cart-contain .product-details .price {
	color: #d32524;
	width: auto;
	float: none;
	font-weight: 400;
	padding-left: 0;
	font-size: 12px
}

.top-cart-content {
	display: none;
	position: absolute;
	top: 30px;
	right: 0;
	background: #fff;
	padding: 0;
	text-align: left;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
	z-index: 10000
}

.top-cart-content .empty {
	text-align: left;
	color: #333
}

.top-cart-content .product-name {
	margin: 0;
	width: 150px;
	line-height: 1;
	padding-right: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.top-cart-content .product-name a {
	font-size: 1em;
	line-height: normal;
	line-height: 20px !important;
	font-weight: 400;
	color: #333
}

.top-cart-content li {
	list-style: none
}

.top-cart-content li.item {
	border-top: 1px solid #eee;
	overflow: hidden;
	padding: 20px 0
}

.top-cart-content li.item:first-child {
	border-top: none;
	padding-top: 10px
}

.top-cart-content li.item:last-child {
	margin: 0;
	border-bottom: none
}

.top-cart-content li.item .product-image {
	float: left;
	display: block;
	width: 100px;
	margin-right: 10px
}

.top-cart-content li.item .detail-item {
	padding-left: 110px
}

.top-cart-content li.item .detail-item .fa {
	position: absolute;
	right: 20px
}

.top-cart-content li.item .detail-item input {
	display: inline-block;
	width: 45px;
	padding: 0;
	text-align: center
}

.top-cart-content li.item .detail-item button.items-count {
	display: inline-block
}

.top-cart-content .block-subtitle {
	color: #333;
	overflow: hidden;
	padding: 15px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .92857em;
	background: #f5f5f5;
	text-transform: none;
	font-weight: 400;
	border-bottom: 1px #ddd solid
}

.top-subtotal {
	color: #333;
	font-size: 1.14286em;
	font-weight: 400;
	padding: 12px 0;
	padding-top: 30px;
	text-align: left;
	text-transform: none
}

.top-subtotal .price {
	font-weight: 700;
	color: #d32524;
	float: right
}

ul#cart-sidebar {
	padding: 20px 30px;
	margin: 0;
	max-height: 582px;
	min-width: 320px
}

ul#cart-sidebar li.list-item {
	max-height: 400px;
	overflow-y: auto
}

ul#cart-sidebar li.action {
	display: none
}

ul#cart-sidebar.hasclass li.action {
	display: block
}

ul#cart-sidebar li.list-item .price2 {
	font-weight: 700;
	color: #f94e3f;
	font-size: 14px;
	display: list-item;
	margin-bottom: 5px
}

ul#cart-sidebar li.list-item::-webkit-scrollbar {
	width: 5px
}

ul#cart-sidebar li.list-item::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.9)
}

ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb {
	background: #d32524;
	border-radius: 15px
}

ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb:hover,
ul#cart-sidebar li.list-item::-webkit-scrollbar-thumb:active {
	background: #d32524;
	border-radius: 15px
}

.li-fix-1 {
	background: #FFF;
	border-top: 1px solid #ebebeb;
	display: block
}

.li-fix-2 {
	display: block;
	width: 295px
}

header nav {
	background: #f2f2f2
}

header nav .nav {
	position: relative
}

header nav .nav-item {
	float: left;
	position: relative;
	margin-right: 0
}

header nav .nav-item.has-mega {
	position: relative
}

header nav .nav-item>a {
	line-height: 32px;
	color: #4e4e4e;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px
}

header nav .nav-item>a:hover {
	color: #d32524
}

header nav .nav-item>.fa {
	position: absolute;
	right: 0;
	top: 19px
}

header nav .nav-item .nav-item-lv2 {
	padding: 0
}

header nav .nav-item .nav-item-lv3 {
	padding: 0 10px
}

header nav .nav-item:hover>.dropdown-menu {
	display: block;
	margin-top: 0
}

header nav .nav-item:hover>.mega-content {
	display: block
}

header nav .nav-item li.dropdown-submenu {
	position: relative
}

header nav .nav-item li.dropdown-submenu .dropdown-menu {
	left: 100%;
	top: 0
}

header nav .nav-item li.dropdown-submenu:hover>.dropdown-menu {
	display: block
}

header nav .mega-content {
	display: none;
	position: absolute;
	width: 300px;
	background: #fff;
	z-index: 100;
	padding: 0;
	border: 1px solid #ebebeb;
	left: -108%
}

.list-brand {
	margin: 85px 0;
	position: relative
}

.list-brand .brand-leaf {
	position: absolute;
	top: -50%;
	right: 2%;
	transform: translateY(-90%)
}

@media (max-width: 1399px) {
	.list-brand .brand-leaf {
		max-width: 120px
	}
}

@media (max-width: 991px) {
	.list-brand .brand-leaf {
		top: -20%
	}
}

@media (max-width: 767px) {
	.list-brand {
		margin: 15px 0
	}
}

footer {
	background: #f8f8f8;
	position: relative
}

footer .f-leaf {
	position: absolute;
	top: 0;
	left: 2%;
	transform: translateY(-50%);
	max-width: 100px
}

footer .footer-col .list-blogs .blog-name a {
	color: #96bd47
}

footer .footer-col .list-blogs .blog-detail .blog-date-create {
	color: #999;
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 12px
}

footer .footer-info-widget h3 {
	font-size: 1.28571em;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 20px
}

footer .footer-info-widget p {
	color: #cfd2d3;
	font-size: 1.14286em
}

footer .footer-info-widget p.hotline {
	font-size: 2em;
	color: #fff;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: -8px
}

footer .footer-info-widget p.hotline a {
	color: #fff
}

footer .footer-info-widget p.hotline a:hover {
	color: #d32524
}

footer .footer-info-widget form {
	position: relative
}

footer .footer-info-widget form input {
	height: 50px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.14286em
}

footer .footer-info-widget form button {
	position: absolute;
	right: 0;
	background: transparent;
	border: none;
	line-height: 50px;
	font-size: 2.14286em;
	color: #a6a6ad;
	padding-right: 10px
}

footer .list-inline .fa {
	color: #fff;
	margin-right: 20px;
	font-size: 2.14286em
}

footer .list-inline .fa:hover {
	color: #d32524
}

footer .site-footer h3 {
	position: relative;
	color: #333;
	margin: 0;
	padding: 13px 0;
	font-size: 1.28571em
}

footer .list-menu {
	margin-bottom: 15px;
	line-height: 1.71429em
}

footer .list-menu a {
	color: #333
}

footer .list-menu a:hover {
	color: #d32524
}

footer .list-menu li {
	color: #333
}

footer .list-menu.contact .fa {
	width: 20px;
	margin-right: 5px;
	color: #d32524
}

footer .copyright {
	line-height: 40px;
	text-align: center;
	color: #333;
	font-size: 1em;
	position: relative
}

footer .copyright .inner {
	border-top: 1px solid #e1e1e1
}

footer .copyright a {
	font-weight: 700;
	color: #333
}

footer .copyright a:hover {
	color: #d32524
}

footer .social-icons li {
	margin-right: 10px
}

footer form {
	position: relative
}

footer form button#subscribe {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 17px
}

.details-product #gallery_01 {
	margin-top: 15px
}

.details-product .owl-carousel.owl-loaded {
	overflow: hidden
}

.details-product .details-pro .product-price {
	font-size: 2.14286em;
	display: inline-block
}

.details-product .details-pro .price-box {
	margin: 10px 0 15px
}

.details-product .details-pro .price-box del {
	color: #adadad;
	font-size: 1.42857em
}

.details-product .details-pro .custom-btn-number {
	position: relative;
	padding: 0;
	margin-bottom: 20px;
	border: none;
	box-shadow: none;
	height: auto
}

.details-product .details-pro .custom-btn-number label {
	font-size: 14px
}

.details-product .details-pro .custom-btn-number #qty {
	height: 32px;
	font-size: 1.28571em;
	margin: 0
}

.details-product .details-pro .custom-btn-number .qtyminus {
	position: absolute;
	left: 25px;
	top: 4px;
	font-size: 1.42857em
}

.details-product .details-pro .custom-btn-number .qtyplus {
	position: absolute;
	right: 25px;
	top: 4px;
	font-size: 1.42857em
}

#recently-viewed-products .image {
	float: left;
	width: 90px;
	margin-right: 10px
}

#recently-viewed-products .info {
	width: calc(100% - 100px);
	float: right
}

.zoomWrapper {
	width: 100% !important;
	height: auto !important
}

.zoomWrapper img {
	position: static !important;
	width: 100% !important;
	height: auto !important
}

.zoomWrapper img~img {
	display: none !important
}

.product-tab .tab-link {
	margin-right: 20px
}

.product-tab .tab-link h3 {
	margin: 10px 0;
	font-size: 1.14286em
}

.product-tab .tab-link span {
	font-size: 1.14286em
}

.product-tab .tab-link.current h3 {
	color: #d32524
}

.product-tab .tab-content.current {
	padding: 10px;
	border: 1px solid #e1e1e1;
	min-height: 200px
}

.products-view-grid .col-lg-4:nth-child(3n+1) {
	clear: left
}

.view-mode span {
	font-size: 0
}

.button-view-mode {
	padding: 0;
	margin: 0;
	font-size: 1.42857em
}

.button-view-mode.active {
	box-shadow: none;
	color: #333
}

.button-view-mode.active a {
	color: #333
}

.sortPagiBar {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 20px;
	padding-bottom: 15px
}

.blog-item {
	overflow: hidden
}

.blog-item .date {
	position: absolute;
	background: #d32524;
	text-align: center;
	color: #fff;
	padding: 3px 10px;
	z-index: 10
}

.blog-item .date span {
	display: block;
	line-height: 45px
}

.blog-item .date span~span {
	overflow: hidden;
	border-top: 1px solid #fff
}

.blog-item-name {
	font-weight: 700;
	position: relative;
	font-size: 1.14286em;
	margin: 0
}

.blog-item-name a {
	color: #333
}

.blog-item-name .fa {
	position: absolute;
	left: 0;
	top: 9px;
	font-size: 11px;
	color: #d32524
}

.blog-item-summary {
	font-size: 1em;
	margin-bottom: 0
}

.blog-item-thumbnail {
	position: relative
}

.article-main .article-title {
	font-size: 1.71429em;
	line-height: 1.92857em;
	margin: 15px 0 8px
}

.article-main .postby {
	font-size: 1.14286em;
	line-height: 1.71429em;
	color: #676767;
	margin-bottom: 10px
}

.article-main .article-content {
	font-size: 1.14286em
}

.article-main .form-group {
	margin: 0;
	padding-top: 0;
	padding-bottom: 8px
}

#article-comments {
	margin-top: 30px
}

#article-comments .article-comment {
	margin-bottom: 10px
}

#article-comments .article-comment-user-image {
	margin: 0;
	float: left;
	width: 50px;
	margin-right: 12px
}

#article-comments .article-comment-user-comment {
	font-size: 1em
}

#article-comments .user-name-comment {
	margin: 0;
	color: #d32524;
	font-size: 18px;
	line-height: 1
}

#article-comments .article-comment-date-bull {
	padding: 5px 0;
	display: block;
	color: #acacac
}

.social-media {
	font-size: 1em
}

.social-media label {
	display: inline-block
}

.social-media a {
	margin-right: 7px
}

.social-media .list-inline li {
	margin-right: 20px
}

.section-news-2 {
	margin-bottom: 20px
}

.pd-right {
	padding-left: 0px
}

.main-container {
	min-height: 300px
}

.main-container .col-main {
	float: none;
	width: auto
}

.main-container .col-main .cart .bg-scroll {
	border-top: none;
	margin-top: 20px;
	overflow: hidden;
	border: solid 1px #ebebeb;
	border-top: none;
	border-bottom: none;
	border-right: none
}

.main-container .col-main .cart .cart-thead {
	background: #fbfbfb;
	font-weight: bold;
	font-size: 13px;
	clear: both;
	width: 100%;
	border: 1px solid #ebebeb;
	border-right: none;
	border-left: none;
	float: left;
	min-width: 600px
}

.main-container .col-main .cart .cart-thead div {
	float: left;
	padding: 27px 0px;
	color: #333;
	text-align: center;
	border-right: #ebebeb 1px solid;
	font-size: 13px
}

.main-container .col-main .cart .nobr {
	white-space: nowrap
}

.main-container .col-main .cart .cart div.a-right {
	text-align: right
}

.main-container .col-main .cart .cart div.a-center {
	text-align: center
}

.main-container .col-main .cart .cart-tbody {
	width: 100%;
	float: left
}

.main-container .col-main .cart .cart-tbody .item-cart {
	border-bottom: 1px solid #ebebeb;
	width: 100%;
	float: left
}

.main-container .col-main .cart .item-cart .image .product-image img {
	max-width: 100%;
	height: auto;
	max-height: 98px;
	width: auto;
	display: inherit;
	margin: 0 auto
}

.main-container .col-main .cart .cart-tbody .item-cart div {
	float: left;
	padding: 20px 10px 6px;
	line-height: 20px;
	vertical-align: top;
	border-right: solid 1px #ebebeb;
	height: 135px;
	overflow: hidden
}

.main-container .col-main .cart .cart-tbody .item-cart div:nth-child(6) {
	padding: 10px 0 6px;
	position: relative
}

.main-container .col-main .cart .bg-scroll .cart-tbody .item-cart div a.remove-item {
	background-color: #fff;
	background-image: url("//bizweb.dktcdn.net/100/364/380/themes/733489/assets/bin.png?1571624979198");
	width: 22px;
	height: 26px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.main-container .col-main .cart .cart-tbody .item-cart .product-image {
	min-height: 75px;
	display: block;
	height: auto;
	width: 100%;
	padding: 0 20px
}

@media (max-width: 991px) {
	.main-container .col-main .cart .cart-tbody .item-cart .product-image {
		padding: 0
	}
}

.main-container .col-main .cart .cart-tbody .item-cart div .product-name {
	margin: 0px;
	padding-bottom: 0px;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	margin-top: 10%
}

.main-container .col-main .cart .cart-tbody .item-cart div .input_qty_pr {
	height: auto;
	border-right: none;
	width: 100%;
	margin-top: 15px;
	padding: 20px 0px 0px 0px
}

.main-container .col-main .cart .cart .product-name a {
	font-size: 14px
}

.main-container .col-main .cart .item-cart .input_qty_pr .items-count {
	border: 1px solid #ddd;
	outline: none;
	background: #fff;
	height: 24px;
	width: 24px;
	vertical-align: baseline;
	text-align: center;
	padding: 0
}

.main-container .col-main .cart .variant-title {
	color: #686868
}

.main-container .col-main .cart .cart-tbody .item-cart div .price {
	font-size: 16px;
	font-weight: bold;
	line-height: 6;
	color: #d32524
}

.main-container .col-main .cart .item-cart .items-count {
	border: 1px solid #ebebeb;
	outline: none;
	background: #fff;
	height: 24px;
	width: 21px;
	vertical-align: top;
	text-align: center;
	padding: 0
}

.main-container .col-main .cart .item-cart .number-sidebar {
	border: 1px solid #ddd;
	height: 24px;
	margin-left: -1px;
	text-align: center;
	width: 23px;
	margin-right: -1px;
	padding: 0;
	line-height: 15px
}

.main-container .col-main .cart .cart-tbody .item-cart div a.remove-item {
	background-color: #fff;
	background-image: none;
	color: #333;
	cursor: pointer;
	padding: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	cursor: pointer;
	text-decoration: none;
	float: left;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	border: none
}

.main-container .col-main .cart .cart-tbody .item-cart div a.remove-item span {
	display: none
}

.main-container .col-main .cart .btn-proceed-checkout {
	background: #d32524;
	line-height: 35px;
	color: #fff;
	height: 40px;
	font-size: 16px;
	border: none;
	text-transform: uppercase
}

.main-container .col-main .cart .btn.btn-white {
	margin-right: 5px;
	border: 2px solid #333
}

.main-container .col-main .cart .btn.btn-white:hover {
	border-color: #e1e1e1;
	color: #333
}

.main-container .col-main .cart .totals .inner {
	padding: 0px 0 15px;
	margin-top: 0;
	margin-right: 1px
}

.main-container .col-main .cart #shopping-cart-totals-table tr td {
	border: #ebebeb thin solid;
	border-top: none;
	border-bottom: none;
	padding: 20px
}

.main-container .col-main .cart #shopping-cart-totals-table tr td.a-right {
	width: 239px;
	border-left: 1px solid #ebebeb
}

.main-container .col-main .cart #shopping-cart-totals-table {
	width: 100%;
	padding-bottom: 8px;
	background: #fff
}

.main-container .col-main .cart ul.checkout {
	clear: left;
	padding: 20px;
	border: 1px solid #ebebeb;
	margin-bottom: 30px
}

.main-container .col-main .cart .cart .totals table th,
.main-container .col-main .cart .cart .totals table td {
	padding: 10px;
	background: none !important;
	box-shadow: none !important;
	color: #333 !important;
	height: 50px;
	vertical-align: middle
}

.main-container .col-main .cart span.totals_price.price {
	color: #d32524;
	font-size: 16px
}

.main-container .col-main .cart .cart-tbody .item-cart .number-sidebar {
	min-height: 0;
	position: static;
	display: inline-block;
	float: none;
	margin-bottom: 0
}

.main-container .col-main .cart .cart-tbody .item-cart .input_qty_pr .items-count {
	border: 1px solid #ddd;
	outline: none;
	background: #fff;
	height: 24px;
	width: 24px;
	vertical-align: baseline;
	text-align: center;
	padding: 0;
	display: inline-block;
	margin: 0
}

@media (max-width: 1199px) {
	.main-container .col-main .cart #shopping-cart-totals-table tr td.a-right {
		width: 196px
	}
	.fc1 {
		border-right: none;
		padding-right: 0px;
		margin-right: 0
	}
	.copy-right p {
		margin: 0 0 20px;
		text-align: center
	}
}

@media (max-width: 991px) {
	.main-container .col-main .cart #shopping-cart-totals-table tr td.a-right {
		width: 252px
	}
	.main-container .col-main .cart .totals .inner {
		margin-right: 0
	}
}

@media (max-width: 768px) {
	.item-product .title-product-cart-mobile {
		max-width: 150px
	}
	.sign_main {
		background: #f7f8f9;
		margin-top: 40px
	}
	.main {
		border-bottom: solid 1px #ebebeb;
		background: #fff;
		margin-top: 40px
	}
	.main-container {
		margin-top: -40px
	}
	.cart-mobile {
		padding: 10px 0px 0px 0px
	}
	.header-cart {
		padding: 10px 15px 10px;
		border-bottom: solid 1px #ebebeb;
		margin-top: 33px
	}
	.header-cart-content {
		margin-top: 10px
	}
	.header-cart-content .content-product-list {
		min-height: 110px
	}
	.header-cart .title-cart {
		line-height: 10px
	}
	.header-cart-price {
		padding: 18px 15px
	}
	.title-cart h3 {
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 0 0
	}
	.title-cart p {
		font-family: Arial, sans-serif;
		font-size: 12px;
		color: #9c9c9c
	}
	.title-cart a {
		float: right;
		margin-top: -28px;
		color: #d32524;
		font-size: 16px;
		line-height: 27px;
		font-family: Arial, sans-serif
	}
	.btn-proceed-checkout-mobile {
		width: 100%;
		line-height: 27px;
		color: #fff;
		height: 40px;
		font-size: 14px;
		border: none;
		background: #d32524;
		margin-top: 10px
	}
	.content-product-list .item-product {
		padding: 15px 15px;
		min-height: 110px;
		border-bottom: solid 1px #ebebeb;
		overflow: hidden
	}
	.item-product-cart-mobile,
	.title-product-cart-mobile,
	.select-item-qty-mobile {
		float: left
	}
	.item-product-cart-mobile {
		max-width: 115px;
		margin-right: 10px
	}
	.item-product-cart-mobile img {
		max-width: 115px;
		margin-right: 10px
	}
	.select-item-qty-mobile {
		float: right;
		text-align: center
	}
	.title-product-cart-mobile a {
		word-break: break-word;
		font-family: Arial, sans-serif;
		font-size: 14px;
		color: #363636
	}
	.select-item-qty-mobile input.qty {
		background: none repeat scroll 0 0 #fff;
		border: 1px solid #ebebeb;
		font-size: 15px;
		font-weight: 400;
		margin: 0 !important;
		outline: medium none;
		padding: 5px 5px 5px 12px;
		width: 41px
	}
	.title-product-cart-mobile p {
		line-height: 2;
		font-size: 14px;
		font-family: Arial, sans-serif;
		color: #898989
	}
	.title-product-cart-mobile span {
		color: #d32524
	}
	.select-item-qty-mobile a {
		line-height: 3;
		color: #363636;
		font-family: 'Open Sans', sans-serif
	}
}

@media (max-width: 321px) {
	.item-product-cart-mobile {
		margin-right: 3px
	}
	.item-product-cart-mobile img {
		width: 50px !important
	}
}

@media screen and (max-width: 768px) {
	.select-item-qty-mobile .txt_center input {
		height: 25px;
		width: 24px;
		text-align: center;
		margin: 0px;
		padding: 0;
		position: absolute;
		left: 22px;
		min-height: 0
	}
	.item-product .title-product-cart-mobile {
		max-width: 150px
	}
	.title-product-cart-mobile h3 {
		line-height: 1;
		margin: 0
	}
	.main-cart-page {
		min-height: auto !important
	}
	.select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus {
		position: absolute;
		left: -2px;
		top: 0;
		z-index: 100;
		margin: auto auto;
		line-height: 1;
		height: 25px;
		border-style: hidden;
		background: none !important;
		color: #000;
		border: solid thin #ddd;
		width: 25px;
		padding: 0
	}
	.select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
		position: absolute;
		right: -2px;
		top: 0;
		margin: auto auto;
		height: 25px;
		display: inline-block;
		line-height: 1;
		border-style: hidden;
		color: #fff;
		background: none !important;
		color: #000;
		border: solid thin #ddd;
		width: 25px;
		padding: 0
	}
	.select-item-qty-mobile>div {
		position: relative;
		width: 68px;
		height: 25px
	}
}

@media screen and (max-width: 375px) {
	.item-product .title-product-cart-mobile {
		max-width: 110px !important
	}
}

#customer_register {
	margin-bottom: 20px
}

#customer_login,
#recover_customer_password {
	margin-bottom: 0
}

.checkbox.style input {
	margin: 0 !important;
	display: none
}

.checkbox.style label {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	text-transform: none;
	position: relative;
	padding-left: 55px;
	line-height: 50px
}

.checkbox.style label:before {
	display: block;
	width: 35px;
	height: 35px;
	background: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%)
}

.checkbox.style input:checked+label:after {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 20px;
	color: #d32524;
	position: absolute;
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%)
}

.block-account h3 {
	margin-top: 0
}

.customer-name {
	color: #d32524;
	line-height: 55px
}

.block-content.form-signup {
	background: #fff;
	padding-top: 20px
}

.block-content.form-signup p {
	padding: 0 20px
}

.block-content.form-signup p i {
	color: #d32524;
	margin-right: 10px
}

.address-title {
	padding-left: 10px;
	margin-bottom: 15px;
	border-radius: 0 !important;
	font-weight: 300
}

.address-title button {
	background: none;
	border: none;
	font-size: 0;
	width: 50px;
	height: 55px
}

.address-title button.btn-edit {
	background-image: url(//bizweb.dktcdn.net/100/364/380/themes/733489/assets/btn-edit.png?1571624979198);
	background-repeat: no-repeat;
	background-position: center
}

.address-title button.btn-delete {
	background-image: url(//bizweb.dktcdn.net/100/364/380/themes/733489/assets/btn-delete.png?1571624979198);
	background-repeat: no-repeat;
	background-position: center
}

.address-subtitle {
	margin-top: 0;
	text-transform: uppercase
}

.address-item-action {
	right: 0;
	top: -7px
}

.address-item-action .btn-row {
	padding-right: 5px
}

.address-group {
	background: #fff;
	padding-bottom: 5px;
	margin-bottom: 15px
}

.address-group p {
	color: #595959
}

.address-group p label {
	float: left;
	font-weight: 300
}

#order_payment,
#order_shipping {
	background: #fff;
	padding: 10px 20px
}

#order_payment .address.note i,
#order_shipping .address.note i {
	color: #d32524;
	margin-right: 5px
}

.totalorders {
	background: #fff;
	border-color: #e1e1e1
}

.order-headding {
	margin: 0
}

.info-contact .widget-menu p {
	display: inline
}

.info-contact .logo {
	font-size: 20px
}

.aside-item.collection-category .nav-item {
	position: relative;
	clear: left;
	font-size: 1.07143em
}

.aside-item.collection-category .nav-item a {
	font-size: 1.07143em
}

.aside-item.collection-category .nav-item .fa {
	position: absolute;
	right: 0;
	top: 12px
}

.aside-item.collection-category .nav-item .dropdown-menu {
	position: static;
	width: 100%;
	border: 0;
	padding-left: 15px;
	box-shadow: none
}

.aside-item.collection-category .nav-item.active>a {
	color: #d32524
}

.aside-item.collection-category .nav-item.active>.dropdown-menu {
	display: block
}

.aside-item.collection-category .nav>li>a {
	padding: 5px 15px
}

.aside-item .nav>li>a:focus,
.aside-item .nav>li>a:hover {
	background: none
}

.ui-widget.ui-widget-content {
	height: 2px;
	background: #ebebeb
}

.ui-slider-range.ui-corner-all.ui-widget-header {
	background: #333 !important
}

.ui-slider-horizontal .ui-slider-handle {
	height: 14px !important;
	width: 14px !important;
	border-radius: 50% !important;
	top: -6px !important;
	border: none !important;
	background: #333 !important
}

.ui-widget.ui-widget-content {
	border: none !important;
	margin-bottom: 25px;
	width: calc(100% - 14px);
	margin-left: 7px
}

#start {
	width: 100px;
	float: left
}

#start input {
	text-align: center;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	box-shadow: none
}

#stop {
	width: 100px;
	float: left;
	margin-left: 30px;
	text-align: center;
	position: relative;
	margin-right: 10px
}

#stop input {
	text-align: center;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	box-shadow: none
}

#stop:before {
	content: "-";
	position: absolute;
	left: -17px;
	font-size: 17px
}

a#filter-value {
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	width: 100px;
	margin-top: 15px
}

@media (max-width: 1200px) and (min-width: 387px) {
	a#filter-value {
		margin-top: -3px
	}
}

div#isp_search_result_page_container .btn-search {
	display: none
}

button.btn.btn-default.btn-search {
	display: none
}

div#isp_search_result_page_container form {
	margin-bottom: 0
}